{% extends "layout.html" %}
{% block title %}Calculator{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var equationArray = [];
        var operator = false;
        var lastOperator = ''        
        var currentNumber = ''
        console.log("Hello world, jQuery is online")

        function calculate() {
            $.ajax({
                url: "solve",
                method : "GET",            
                data : { 'equationArray' : equationArray},
                success: function (response) {
                    
                    if (response.Status){
                        var answer = response.Answer;
                        if (answer % 1 === 0) {
                            answer = parseInt(answer); 
                        }

                        // Reset variables and Show Result
                        equationArray = []; 
                        currentNumber = answer;
                        $("#txtDisplay").val(answer);
                    }
                    else {
                        equationArray = []; 
                        currentNumber = '';
                        $("#txtDisplay").val('Error Invalid Input');
                    }

                    
                },
                error: function (response) {                    
                    console.log(response);                            
                    console.log(response.Message);                            
                },
            });            
        }

        $(".btnSolve").click(function() {
            equationArray.push(currentNumber);
            calculate();
        });

        $(".btnEnhance").click(function() {
            var operator = $(this).val();
            if (operator == "AC") {
                    equationArray = [];
                    currentNumber = '';
                    $("#txtDisplay").val(currentNumber);
            }
            else if (operator == "FLIP") {
                currentNumber *= -1;
                $("#txtDisplay").val(currentNumber);
            }
            else if (operator == "%"){
                    currentNumber /= 100;
                    $("#txtDisplay").val(currentNumber);
            }

        });

        $(".btnOperator").click(function() {
            var operator = $(this).val();
            if (currentNumber == ''){                    
                equationArray.pop();
                equationArray.push(operator);                    
            }
            else {
                equationArray.push(currentNumber);
                equationArray.push(operator);
                currentNumber = '';
            }                               
        });

        $(".btnNumber").click(function() {
            var value = $(this).val();
            if(currentNumber == '') {                
                    currentNumber = value;
            }
            else {
                currentNumber += value;
            }
            $("#txtDisplay").val(currentNumber);                
        });

    });
</script>
{% endblock %}

{% block content %}
  <h1>Calculator</h1>
  <div class="row text-center">
    <div class="col m-2">
        <table class="text-center m-auto">
            <tr>
                <input type="text" id="txtDisplay" class="bg-secondary text-white text-end" />                    
            </tr>
            <tr>                    
                <td> <button type="button" class="btnEnhance btn btn-dark w-100" value="AC">AC</button> </td>                    
                <td> <button type="button" class="btnEnhance btn btn-dark w-100" value="FLIP">+/-</button> </td>
                <td> <button type="button" class="btnEnhance btn btn-dark w-100" value="%">%</button> </td>                    
                <td> <button type="button" class="btnOperator btn btn-warning w-100" value="/">/</button> </td>
            </tr>

            <tr>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="7">7</button> </td>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="8">8</button> </td>
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="9">9</button> </td>                    
                <td> <button type="button" class="btnOperator btn btn-warning w-100" value="*">x</button> </td>
            </tr>


            <tr>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="4">4</button> </td>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="5">5</button> </td>
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="6">6</button> </td>                    
                <td> <button type="button" class="btnOperator btn btn-warning w-100" value="-">-</button> </td>
            </tr>


            <tr>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="1">1</button> </td>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="2">2</button> </td>
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value="3">3</button> </td>                    
                <td> <button type="button" class="btnOperator btn btn-warning w-100" value="+">+</button> </td>
            </tr>

            <tr>                    
                <td colspan="2"> <button type="button" class="btnNumber btn btn-secondary w-100" value="0">0</button> </td>                    
                <td> <button type="button" class="btnNumber btn btn-secondary w-100" value=".">.</button> </td>
                <td> <button type="button" class="btnSolve btn btn-warning w-100" value="=">=</button> </td>                                        
            </tr>
          
            
        </table>
    </div>
</div>
{% endblock %}